<!DOCTYPE html>
<html>
  <head>
    <title>Organized.</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <div class="title">
      <h1>Organized.</h1>
    </div>

    <div class="signInForm">
      <div class="id">
        <p>
          <input type="text" id="id" style="background-color: #000000;"/>
          <label for="id">id</label>
        </p>
      </div>

      <br>

      <div class="pw">
        <p>
          <input type="password" id="pw" style="background-color: #000000;"/>
          <label for="pw">pw</label>
        </p>
      </div>

      <br>

      <!-- <div class="IndexButton">
        <button type="button" onclick="login()">Log In</button>
        <button type="button" onclick="location.href='signUp.ejs'">Sign Up</button>
      </div> -->
      
      <div class="wrap">
        <a class="button" onclick="logIn()" >Log In</a>
        <a href="signup.ejs" class="button2" >Sign Up</a>
    </div>

  </body>
</html>
