<!DOCTYPE html>
<html>
  <head>
    <title>Organized.</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <div class="title">
      <h1>Organized.</h1>
    </div>

    <div class="signInForm">
      <label>
        ID
      </label>
      <br>
      <input type="text" name="ID" required autocomplete="off" />
      <br>
      <br>
      <br>
      <label>
        PW
      </label>
      <br>
      <input type="password" name="PW" />
      <br>
      <br>
      <button type="submit">Sign In</button>  
    </div>
    
  </body>
</html>
