<!DOCTYPE html>
<html>
  <head>
    <title>Organized.</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <div class="title">
      <h1>Organized.</h1>
    </div>

    <div class="signInForm">
      <p>WRITE SIGN IN & UP FUNCTION ON HERE</p>
    </div>
    
  </body>
</html>
