<!DOCTYPE html>
<html>
  <head>
    <title>Organized.</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <div class="title">
      <h1>Organized.</h1>
    </div>
    <br>
    <br>
    <br>
    <div class="signInForm">
      <div class="id">
        <p>
          <input type="text" id="id" style="background-color: #000000; border-right: #ff0000 1px solid; border-left: #ff8c09 1px solid; border-top: #03ff6c 1px solid; border-bottom: #ff1bec 1px solid;"/>
          <label for="id">id</label>
        </p>
      </div>

      <br>
      <br>
      <br>

      <div class="pw">
        <p>
          <input type="password" id="pw" style="background-color: #000000; border-right: #b8e906 1px solid; border-left: #ec0076 1px solid; border-top: #5f08ff  1px solid; border-bottom: #13f5f5 1px solid;"/>
          <label for="pw">pw</label>
        </p>
      </div>

      <br>
      <br>
      <br>
      <br>
      <!-- <div class="IndexButton">
        <button type="button" onclick="login()">Log In</button>
        <button type="button" onclick="location.href='signUp.ejs'">Sign Up</button>
      </div> -->
      
      <div class="wrap">
        <a class="button" onclick="logIn()" >Log In</a>
        <a href="./signUp" class="button2" >Sign Up</a>
    </div>

  </body>
</html>
