<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <div class="signInForm">
      <div class="id">
        <p>
          <input type="text" id="id" style="background-color: #000000; border-right: #ff0000 1px solid; border-left: #ff8c09 1px solid; border-top: #03ff6c 1px solid; border-bottom: #ff1bec 1px solid;"/>
          <label for="id">id</label>
        </p>
    </div>
    <a class="CheckID" onclick="checkID()" >Check ID</a>

      <br>

      <div class="pw">
        <p>
          <input type="password" id="pw" style="background-color: #000000; border-right: #b8e906 1px solid; border-left: #ec0076 1px solid; border-top: #5f08ff  1px solid; border-bottom: #13f5f5 1px solid;"/>
          <label for="pw">pw</label>
        </p>
      </div>

      <br>

      <div class="pwCheck">
        <p>
          <input type="password" id="pwCheck" style="background-color: #000000; border-right: #ff01b3 1px solid; border-left: #23c1ff 1px solid; border-top: #27ff14  1px solid; border-bottom: #ffc400 1px solid;"/>
          <label for="pwCheck">pw Check</label>
        </p>
      </div>

      <!-- <div class="IndexButton">
        <button type="button" onclick="login()">Log In</button>
        <button type="button" onclick="location.href='signUp.ejs'">Sign Up</button>
      </div> -->
      
      <div class="wrap">
        <a class="SignUp" onclick="signUp()" >Register</a>
    </div>

  </body>
</html>
